<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="oj-hybrid-padding" style="padding: 0;height: 88%">
	<div class="login-wrap">
		<div class="login-con">
			<oj-label for="text-input">欢迎用户登陆</oj-label>
			<img id="loginImg" width="150px" height="150px" data-bind="attr:{src:headimage}"></img>
			<br>
			<!-- <div id="loginName" data-bind="value : nickname"></div> -->
			<input id="loginName" data-bind="value:nickname">
			</oj-input-text>
			<!-- <h3>用户登录</h3> -->
			<!-- <label data-bind >nickname</label> -->
			<!-- <input type="text" placeholder="请输入昵称" id="loginName"> -->
			<button class="login-btn">登录</button>
		</div>
	</div>

	<div class="chat-wrap" style=" display:none">
            <div class="room-info">Chat Room (<span data-bind="text: count"></span>)</div>
		<div class="chat-con clearfix"></div>
		<div class="bottom">
			<input type="text" id="sendtxt">
			<button class="sendBtn">发送</button>
		</div>
	</div>
</div>