<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

	<div class="login-wrap">
		<div class="login-con">
			<h3>用户登录</h3>
			<input type="text" placeholder="请输入昵称" id="loginName">
			<button class="login-btn">登录</button>
		</div>
	</div>
	
	<div class="chat-wrap hide">
		<h1>多人聊天室</h1>
		<div class="chat-con clearfix"></div>
		<div class="bottom">
			<input type="text" id="sendtxt">
			<button class="sendBtn">发送</button>
		</div>
	</div>
