<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="login-wrap">
	<div class="login-con">
		<oj-label for="text-input">欢迎用户登陆</oj-label>
		<img width="150px" height="150px" data-bind="attr:{src:headimage}"></img>
		<br>
		<!-- <div id="loginName" data-bind="value : nickname"></div> -->
		<input id="loginName" data-bind="value:nickname"></oj-input-text>
		<!-- <h3>用户登录</h3> -->
		<!-- <label data-bind >nickname</label> -->
		<!-- <input type="text" placeholder="请输入昵称" id="loginName"> -->
		<button class="login-btn">登录</button>
	</div>
</div>

<div class="chat-wrap" style=" display:none">
	<h1>多人聊天室</h1>
	<div class="chat-con clearfix"></div>
	<div class="bottom">
		<input type="text" id="sendtxt">
		<button class="sendBtn">发送</button>
	</div>
</div>