<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="sampleDemo" style="" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <h1>Login Oracle Interact</h1>
        <div class="oj-form-layout">
            <div class="oj-flex">  
                <div class="oj-flex-item">

                    <div class="oj-flex-item">
                        <oj-label for="text-input">Username</oj-label></div>
                    <div class="oj-flex-item"> 
                        <oj-input-text id="text-input" value="{{value}}"></oj-input-text></div>
                    <div class="oj-flex-item">
                        <oj-label for="password">Password</oj-label></div>
                    <div class="oj-flex-item">
                        <oj-input-password id="password" value="{{value}}">
                        </oj-input-password></div>  
                    <div id="button-container oj-flex-item">
                        <oj-button id='buttonId1' on-click='[[submitInput]]'>Submit</oj-button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>