<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div id="outter" class="lb_gl">
    <div id="inner">
        <div id="content">
            <div id="vote">
                <div id="voteinfo">
                    <span id="infotitle">投票说明:</span>
                    <textarea rows="3" cols="40">通过设置下面的内容，设置投票内容</textarea>
                </div>
                <ul>
                    <li class="votetitle">
                        <span class="votetitleleft">选项:最多可填写<span data-bind="text: vote_max" style="color: #0572ce"></span>个选项</span>
                        <span class="votetitleright"><input type="checkbox" id="voteconfig1">多选模式</span>
                    </li>
                    <li class="votechoice">
                        <input type="text" name="choice1"/><span class="votedel" title="删除"></span>
                    </li>
                    <li class="votechoice">
                        <input type="text" name="choice2"/><span class="votedel" title="删除"></span>
                    </li>
                    <li class="addchoice">
                        <span id="addchoice" title="增加一个选项">+增加一个</span><span id="complete">完成</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>