/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.demo-page-content-area {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d6dfe6;
    margin: 10px;
    min-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

footer {
    padding-top: 20px;
}

